[package]
name = "system-interface"
version = "0.4.1-alpha.0"
description = "Extensions to the Rust standard library"
authors = ["Dan Gohman <dev@sunfishcode.online>"]
license = "Apache-2.0 WITH LLVM-exception OR Apache-2.0 OR MIT"
keywords = ["api", "network", "file"]
categories = ["filesystem", "network-programming", "os"]
repository = "https://github.com/bytecodealliance/system-interface"
edition = "2018"
readme = "README.md"

[dependencies]
unsafe-io = "0.2.0"

[target.'cfg(not(windows))'.dependencies]
posish = "0.5.2"

[target.'cfg(windows)'.dependencies]
atty = "0.2.14"
cap-std = { version = "0.9.0", optional = true }
winapi = { version = "0.3.9", features = [
    "winerror",
    "winsock2",
] }
winx = "0.22.0"

[dev-dependencies]
cap-tempfile = "0.9.0"
cap-std = "0.9.0"
tempfile = "3.2.0"
atty = "0.2.14"

[features]
default = []
cap_std_impls = ["cap-std"]

[badges]
maintenance = { status = "actively-developed" }
